---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/NavBar.astro';
import HeroSection from '../../components/Hero.astro';
import SchoolSection from '../../components/School.astro';
import WhoAreWeSection from '../../components/WhoAreWe.astro';
import CoursesSection from '../../components/Courses.astro';
import PurchaseAndRentalSection from '../../components/PurchaseAndRental.astro';
import MomentsSection from "../../components/Moments.astro";
import ContactsSection from '../../components/Contacts.astro';

import kiteImg from '../../assets/content/kite.webp';
import wingImg from '../../assets/content/wing.png';
import campImg from '../../assets/content/camp.png';
---

<Layout
        title="S-LOOP Kiteboarding School | Olbia, Sardinia"
        lang="en"
        description="S-LOOP Kiteboarding School is the only Kitesurf school in Olbia, partnered with Duotone and ION, certified by CONI and affiliated with MSP Italia. We offer Kitesurf, Wing Surf, and Wing Foil courses for beginners and experts. Find us at Via Isola Padron Fiaso, 07026 Olbia (SS, Sardinia), at 'Le Saline' beach. Learn more and join us!"
        keywords="kitesurf Olbia, wing surf Sardinia, wing foil Sardinia, kitesurf school, kitesurf courses, kiteboarding school Olbia, CONI certified, MSP Italia, Duotone, Ion"
>
    <NavBar links={[
        {href: "#school", label: "SCHOOL"},
        {href: "#who-are-we", label: "WHO WE ARE"},
        {href: "#courses", label: "COURSES"},
        {href: "#purchase-and-rental", label: "RENTAL"},
        {href: "#moments", label: "MOMENTS"},
        {href: "#contacts", label: "CONTACTS"}
    ]}/>

    <HeroSection/>

    <SchoolSection
            header="SCHOOL"
            subHeader="Welcome to the <span class='text-nowrap'>S-Loop</span> Kiteboarding School in Olbia"
            paragraph1="Your gateway to the exciting world of <strong>Kitesurfing</strong>, <span class='text-nowrap'><strong>Wing Surfing</strong></span>, and <span class='text-nowrap'><strong>Wing Foiling.</strong></span>"
            paragraph2="Located on the suggestive Saline beach, just a few minutes from the city of Olbia, the <strong>S-Loop</strong> is a new-concept school that aims to become a reference point for water sports enthusiasts."
            paragraph3="As an official <strong>Duotone</strong> and <strong>ION</strong> school, we guarantee access to the <strong>most advanced and safe equipment on the market</strong>, ensuring a superior quality learning experience. Our affiliation with the <strong>CONI</strong> and <strong>MSP Italia</strong> attests to our commitment to <strong>excellence and compliance with the highest standards</strong> in the field of water sports."
            paragraph4="Our courses are designed to welcome aspiring surfers of all ages, <strong>from beginners touching the board for the first time, to experts seeking to perfect their technique</strong>. With a team of highly skilled instructors, we offer not only practical training, but <strong>also certification courses for those who wish to turn their passion into a profession</strong>."
            paragraph5="Choosing S-Loop means opting for <strong>quality, safety, and guaranteed fun instruction</strong>. We look forward to riding the waves and wind together."
            partners="OUR OFFICIAL PARTNERS"
    />

    <WhoAreWeSection
            header="WHO WE ARE"
            paragraph1="<strong>At <span class='text-nowrap'>S-Loop</span> we are more than a team.</strong>"
            paragraph2="Those who attend our school know that they will find not only an environment at the forefront of teaching techniques, but also true friends and trusted people."
            cristianBio="<strong>Cristian Jesùs Cancino Mondaca,</strong> founder of the <span class='text-nowrap'>S-Loop</span> school, is a veteran of water sports, with <strong>over 10 years of experience</strong> that testify to his dedication and love for Kitesurfing.<br><br>Cristian's school is the fruit of his commitment to share his passion with other enthusiasts. His teaching method aims to be fun, dynamic and above all effective, allowing students to learn quickly and in complete safety."
            marcoBio="Instructor since 2013, he has accumulated numerous experiences in various spots around the world. From Spain to the Canary Islands, from Thailand to Cape Verde, and even Australia, facing all kinds of conditions: waves, flat water, strong or light wind, from the beach to the boat. Always positive, he enthusiastically dedicates himself to transmitting the beauty of kitesurfing to his students."
            noemiBio="Noemi, a young kiter since 2023, started her adventure driven by the passion of her father Cristian, founder of the S-Loop Kiteboarding School. Considered a future promise in kitesurfing, Noemi is actively preparing for competitive events. Proud of her progress, she dreams of excelling in competitions and becoming a champion. In the meantime, she enjoys every moment on the water, constantly learning new techniques and perfecting her style."
    />

    <CoursesSection
            header="COURSES"
            description="At S-Loop School, we offer a diverse range of courses to cater to the needs and experience of each individual student. Our courses are designed to meet the needs of both those approaching these disciplines for the first time and those who wish to turn their passion into a profession."
            cards={[
                {
                    image: kiteImg,
                    alt: "Kitesurf Course at S-LOOP in Olbia, Sardinia",
                    title: "KITESURF",
                    button: "LEARN MORE",
                    duration: "<strong>Duration:</strong> 1 hour",
                    gear: "<strong>Gear:</strong> Included",
                    description: "Single lesson ideal for those who want to learn Kitesurfing from scratch or for those who want to resume and improve their technique.",
                    price: "PRICE: 70€"
                },
                {
                    image: wingImg,
                    alt: "Wing Foil Course at S-LOOP in Olbia, Sardinia",
                    title: "WING FOIL",
                    button: "LEARN MORE",
                    duration: "<strong>Duration:</strong> 1 hour + 20 minutes free",
                    gear: "<strong>Gear:</strong> Included",
                    description: "Single lesson ideal for those who want to learn Wing Foiling from scratch or for those who want to resume and improve their technique.",
                    price: "PRICE: 70€"
                },
                {
                    image: campImg,
                    alt: "Surf Camp at S-LOOP in Olbia, Sardinia",
                    title: "SURF CAMP",
                    button: "LEARN MORE",
                    duration: "<strong>Duration:</strong> 1 week",
                    gear: "<strong>Gear:</strong> Included",
                    description: "Intensive course dedicated to those who want to immerse themselves completely in the world of Kitesurf / Wing Foiling and achieve great results in a short time.",
                    price: "PRICE: 700€"
                }
            ]}
    />

    <PurchaseAndRentalSection
            header="RENTAL"
            description="Our school offers a rental service that provides you with the best on the market. Our selection includes <strong>Duotone and Ion</strong> products, all updated to the latest releases available. We guarantee <strong>excellent performance and maximum safety</strong> in all conditions."
    />

    <MomentsSection header="MOMENTS"/>

    <ContactsSection header="CONTACTS" address="(near “Le Saline” beach)"/>
</Layout>