---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/NavBar.astro';
import HeroSection from '../../components/Hero.astro';
import SchoolSection from '../../components/School.astro';
import WhoAreWeSection from '../../components/WhoAreWe.astro';
import CoursesSection from '../../components/Courses.astro';
import PurchaseAndRentalSection from '../../components/PurchaseAndRental.astro';
import MomentsSection from "../../components/Moments.astro";
import ContactsSection from '../../components/Contacts.astro';

import kiteImg from '../../assets/content/kite.webp';
import wingImg from '../../assets/content/wing.png';
import campImg from '../../assets/content/camp.png';
---

<Layout>
    <NavBar links={[
        {href: "#school", label: "ÉCOLE"},
        {href: "#who-are-we", label: "QUI SOMMES-NOUS"},
        {href: "#courses", label: "COURS"},
        {href: "#purchase-and-rental", label: "LOCATION"},
        {href: "#moments", label: "MOMENTS"},
        {href: "#contacts", label: "CONTACTS"}
    ]}/>

    <HeroSection/>

    <SchoolSection
            header="ÉCOLE"
            subHeader="Bienvenue à l'école de Kitesurf <span class='text-nowrap'>S-Loop</span> à Olbia"
            paragraph1="Votre porte d'accès vers le monde passionnant du <strong>Kitesurf</strong>, du <span class='text-nowrap'><strong>Wing Surf</strong></span> et du <span class='text-nowrap'><strong>Wing Foil.</strong></span>"
            paragraph2="Située sur la suggestive plage de Saline, à quelques minutes de la ville d'Olbia, la <strong>S-Loop</strong> est une école de nouveau concept qui vise à devenir un point de référence pour les passionnés de sports nautiques."
            paragraph3="En tant qu'école officielle de <strong>Duotone</strong> et <strong>ION</strong>, nous garantissons l'accès à l'<strong>équipement le plus avancé et le plus sûr du marché</strong>, assurant une expérience d'apprentissage de qualité supérieure. Notre affiliation avec le <strong>CONI</strong> et <strong>MSP Italia</strong> atteste de notre engagement envers l'<strong>excellence et le respect des normes les plus élevées</strong> dans le domaine des sports nautiques."
            paragraph4="Nos cours sont conçus pour accueillir les surfeurs aspirants de tous âges, <strong>des débutants touchant la planche pour la première fois aux experts cherchant à perfectionner leur technique</strong>. Avec une équipe d'instructeurs hautement qualifiés, nous proposons non seulement une formation pratique, mais <strong>également des cours de certification pour ceux qui souhaitent transformer leur passion en profession</strong>."
            paragraph5="Choisir S-Loop signifie opter pour <strong>la qualité, la sécurité et un enseignement amusant garanti</strong>. Nous sommes impatients de surfer sur les vagues et le vent ensemble."
            partners="NOS PARTENAIRES OFFICIELS"
    />

    <WhoAreWeSection
            header="QUI SOMMES-NOUS"
            paragraph1="<strong>Chez <span class='text-nowrap'>S-Loop</span>, nous sommes plus qu'une équipe.</strong>"
            paragraph2="Ceux qui fréquentent notre école savent qu'ils trouveront non seulement un environnement à la pointe des techniques d'enseignement, mais aussi de vrais amis et des personnes de confiance."
            cristianBio="<strong>Cristian Jesús Cancino Mondaca,</strong> fondateur de l'école <span class='text-nowrap'>S-Loop</span>, est un vétéran des sports nautiques, avec <strong>plus de 10 ans d'expérience</strong> qui témoignent de son dévouement et de son amour pour le Kitesurf.<br><br>L'école de Cristian est le fruit de son engagement à partager sa passion avec d'autres passionnés. Sa méthode d'enseignement vise à être amusante, dynamique et surtout efficace, permettant aux étudiants d'apprendre rapidement et en toute sécurité."
            marcoBio="Instructeur depuis 2013, il a accumulé de nombreuses expériences dans divers spots à travers le monde. De l'Espagne aux Îles Canaries, de la Thaïlande au Cap-Vert, et même jusqu'en Australie, en affrontant toutes sortes de conditions : vagues, eau plate, vent fort ou léger, de la plage au bateau. Toujours positif, il se consacre avec enthousiasme à transmettre la beauté du kitesurf à ses élèves."
            noemiBio="Noemi, jeune kitesurfeuse depuis 2023, a commencé son aventure poussée par la passion de son père Cristian, fondateur de la S-Loop Kiteboarding School. Considérée comme une future promesse du kitesurf, Noemi se prépare activement pour les compétitions. Fière de ses progrès, elle rêve de briller dans les compétitions et de devenir championne. En attendant, elle profite de chaque instant sur l'eau, apprenant continuellement de nouvelles techniques et perfectionnant son style."
    />

    <CoursesSection
            header="COURS"
            description="À l'école S-Loop, nous proposons une gamme diversifiée de cours pour répondre aux besoins et à l'expérience de chaque étudiant. Nos cours sont conçus pour satisfaire à la fois ceux qui abordent ces disciplines pour la première fois et ceux qui souhaitent transformer leur passion en profession."
            cards={[
                {
                    image: kiteImg,
                    alt: "Cours de Kitesurf chez S-LOOP à Olbia, Sardaigne",
                    title: "KITESURF",
                    button: "EN SAVOIR PLUS",
                    duration: "<strong>Durée:</strong> 1 heure",
                    gear: "<strong>Équipement:</strong> Inclus",
                    description: "Leçon individuelle idéale pour ceux qui veulent apprendre le kitesurf depuis zéro ou pour ceux qui souhaitent reprendre et améliorer leur technique.",
                    price: "PRIX: 70€"
                },
                {
                    image: wingImg,
                    alt: "Cours de Wing Foil chez S-LOOP à Olbia, Sardaigne",
                    title: "WING FOIL",
                    button: "EN SAVOIR PLUS",
                    duration: "<strong>Durée:</strong> 1 heure + 20 minutes offertes",
                    gear: "<strong>Équipement:</strong> Inclus",
                    description: "Leçon individuelle idéale pour ceux qui veulent apprendre le Wing Foil depuis zéro ou pour ceux qui souhaitent reprendre et améliorer leur technique.",
                    price: "PRIX: 70€"
                },
                {
                    image: campImg,
                    alt: "Camp de Surf chez S-LOOP à Olbia, Sardaigne",
                    title: "SURF CAMP",
                    button: "EN SAVOIR PLUS",
                    duration: "<strong>Durée:</strong> 1 semaine",
                    gear: "<strong>Équipement:</strong> Inclus",
                    description: "Cours intensif dédié à ceux qui veulent s'immerger complètement dans le monde du Kitesurf / Wing Foil et obtenir d'excellents résultats en peu de temps.",
                    price: "PRIX: 700€"
                }
            ]}
    />

    <PurchaseAndRentalSection
            header="LOCATION"
            description="Notre école propose un service de location qui met à votre disposition le meilleur du marché. Notre sélection comprend des produits <strong>Duotone et Ion</strong>, tous mis à jour avec les dernières versions disponibles. Nous garantissons des <strong>performances excellentes et une sécurité maximale</strong> dans toutes les conditions."
    />

    <MomentsSection header="MOMENTS"/>

    <ContactsSection header="CONTACTS" address="(près de la plage “Le Saline”)"/>
</Layout>
