h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 400;
    font-size: 12rem;
}

h2 {
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 400;
    font-size: 5.625rem;
}

h3 {
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.196rem;
    padding-top: 3rem;
}

p {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    /*font-size: 1.25rem;*/
    font-size: 1.5rem;
    /*line-height: 1.806rem;*/
    line-height: 2rem;
    padding-top: 3rem;
}

strong {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}




/*<h1 class="font-stencil text-[10vw] text-white opacity-70">RIDE <span class="text-teal">THE WIND</span></h1>*/

/*<section id="school" class="min-h-screen border-b-black p-[10rem]">*/
/*<div class="flex flex-row">*/
/*<span class="flex-1">*/
/*<img src="/kiter.webp" alt="kite surfer jumping" class="pt-20 pr-5"/>*/
/*</span>*/
/*<div class="flex-1 [&>*]:pt-10 [&>*]:pr-10 [&>*]:pl-5">*/
/*<h2 class="font-stencil text-[5.5vw]">SCUOLA</h2>*/
/*<h3 class="font-stencil text-5xl text-teal">Benvenuti alla S-Loop Kiteboarding School di Olbia</h3>*/
/*<p>La S-Loop Kiteboarding School nasce nel 2023 dall'idea di un kiteboarder con oltre 10 anni di esperienza nel campo.</p>*/
/*<p class="fo*/