---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="S-LOOP Kiteboarding School">
	<nav class="absolute flex items-center justify-center gap-10 top-0 py-5 z-10 w-full [&>*]:text-4xl [&>*]:text-white">
		<a href="#school" tabindex="0" aria-label="Go to School section">SCUOLA</a>
		<a href="#who-are-we" tabindex="0" aria-label="Go to About us section">CHI SIAMO</a>
		<a href="#courses" tabindex="0" aria-label="Go to Courses section">CORSI</a>
		<a href="#purchase-and-rental" tabindex="0" aria-label="Go to Purchase and Rental section">ACQUISTO E NOLEGGIO</a>
		<a href="#contacts" tabindex="0" aria-label="Go to Contacts section" class="text-white">CONTATTI</a>
	</nav>

	<section id="hero" class="flex items-center justify-center min-h-screen bg-cover bg-no-repeat bg-fix bg-parallax bg-[url('/hero-base.webp')]">
		<p class="font-stencil text-[10rem] text-white opacity-70">RIDE <span class="text-teal">THE WIND</span></p>
	</section>

	<section id="school" class="min-h-screen bg-teal">

	</section>
	<footer></footer>
</Layout>

<style>
	@keyframes bg-parallax {
		0% {
			background-position: 50% 0%;
		}
		100% {
			background-position: 50% 100%;
		}
	}
	.bg-parallax {
		animation: bg-parallax 30s infinite alternate;
	}
</style>
