---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import HeroSection from '../components/Hero.astro';
import SchoolSection from '../components/School.astro';
import WhoAreWeSection from '../components/WhoAreWe.astro';
import CoursesSection from '../components/Courses.astro';
import PurchaseAndRentalSection from '../components/PurchaseAndRental.astro';
import MomentsSection from '../components/Moments.astro';
import ContactsSection from '../components/Contacts.astro';

import kiteImg from '../assets/content/kite.webp';
import wingImg from '../assets/content/wing.png';
import campImg from '../assets/content/camp.png';
---

<Layout
        title="S-LOOP Kiteboarding School | Olbia, Sardegna"
        lang="it"
        description="S-LOOP Kiteboarding School a Olbia, Sardegna: corsi di Kitesurf, Wing Surf e Wing Foil per tutti i livelli."
        keywords="kitesurf Olbia, wing surf Sardegna, wing foil Sardegna, scuola kitesurf, corsi kitesurf, kiteboarding school Olbia, certificati CONI, MSP Italia, Duotone, Ion"
>
    <NavBar links={[
        {href: "#school", label: "SCUOLA"},
        {href: "#who-are-we", label: "CHI SIAMO"},
        {href: "#courses", label: "CORSI"},
        {href: "#purchase-and-rental", label: "NOLEGGIO"},
        {href: "#moments", label: "MOMENTI"},
        {href: "#contacts", label: "CONTATTI"}
    ]}/>

    <HeroSection/>
    
    <SchoolSection
            header="SCUOLA"
            subHeader="Benvenuti alla <span class='text-nowrap'>S-Loop</span> Kiteboarding School di Olbia"
            paragraph1="La vostra porta d’accesso al mondo emozionante del <strong>Kitesurf</strong>, <span class='text-nowrap'><strong>Wing Surf</strong></span> e <span class='text-nowrap'><strong>Wing Foil.</strong></span>"
            paragraph2="Situata nella suggestiva spiaggia delle Saline, a pochi minuti dalla città di Olbia, la <strong>S-Loop</strong> è una scuola di nuova concezione che si propone di diventare un punto di riferimento per gli appassionati di sport acquatici."
            paragraph3="In quanto scuola ufficiale <strong>Duotone</strong> e <strong>ION</strong> garantiamo l’accesso alle <strong>più avanzate e sicure attrezzature sul mercato</strong>, assicurando un’esperienza di apprendimento di qualità superiore. La nostra affiliazione con il <strong>CONI</strong> e l’<strong>MSP Italia</strong> testimonia l’impegno verso <strong>l’eccellenza e la conformità agli standard più elevati</strong> nel campo degli sport nautici."
            paragraph4="I nostri corsi sono progettati per accogliere aspiranti surfisti di tutte le età, <strong>dai principianti che toccano la tavola per la prima volta, agli esperti che cercano di perfezionare la loro tecnica</strong>. Con un team di istruttori di altissimo livello, offriamo non solo formazione pratica, ma <strong>anche corsi di certificazione per coloro che desiderano trasformare la loro passione in professione</strong>."
            paragraph5="Scegliere S-Loop significa optare per <strong>un’istruzione di qualità, sicurezza e divertimento garantiti</strong>. Vi aspettiamo per solcare insieme le onde e il vento."
            partners="I NOSTRI PARTNER UFFICIALI"
    />

    <WhoAreWeSection
            header="CHI SIAMO"
            paragraph1="<strong>Alla <span class='text-nowrap'>S-Loop</span> siamo più che un team.</strong>"
            paragraph2="Chi frequenta la nostra scuola sa di trovare non solo un ambiente all’avanguardia nelle tecniche di insegnamento, ma dei veri e propri amici e persone di fiducia."
            cristianBio="<strong>Cristian Jesùs Cancino Mondaca,</strong> fondatore della scuola <span class='text-nowrap'>S-Loop</span>, è veterano degli sport acquatici, con <strong>oltre 10 anni di esperienza</strong> che testimoniano la sua dedizione e amore per il Kitesurf.<br><br>La scuola di Cristian è il frutto del suo impegno nel voler condividere la sua passione con altri appassionati. Il suo metodo di insegnamento mira a essere divertente, dinamico e soprattutto efficace, permettendo agli studenti di imparare rapidamente e in completa sicurezza."
            marcoBio="Istruttore dal 2013, ha accumulato numerose esperienze in vari spot in giro per il mondo. Dalla Spagna alle Canarie, dalla Thailandia a Capo Verde, fino all'Australia, affrontando condizioni di ogni tipo: onde, acqua piatta, vento forte o leggero, dalla spiaggia alla barca. Sempre positivo, si dedica con entusiasmo a trasmettere la bellezza del Kitesurf ai suoi allievi."
            noemiBio="Noemi, giovane kiter dal 2023, ha iniziato la sua avventura spinta dalla passione del padre Cristian, fondatore della S-Loop Kiteboarding School. Considerata una futura promessa del kitesurf, Noemi si sta preparando attivamente per le competizioni agonistiche. Fiera dei suoi progressi, sogna di eccellere nelle gare e diventare una campionessa. Nel frattempo, si gode ogni momento sull'acqua, imparando continuamente nuove tecniche e perfezionando il suo stile."
    />

    <CoursesSection
            header="CORSI"
            description="Alla scuola S-Loop offriamo una gamma diversificata di corsi per adattarci alle esigenze e all'esperienza di ogni singolo studente. I nostri corsi sono pensati per soddisfare sia chi si avvicina per la prima volta a queste discipline, sia chi desidera trasformare la propria passione in una professione."
            cards={[
                {
                    image: kiteImg,
                    alt: "Corso di Kitesurf presso S-LOOP a Olbia, Sardegna",
                    title: "KITESURF",
                    button: "SCOPRI DI PIÙ",
                    duration: "<strong>Durata:</strong> 1 ora",
                    gear: "<strong>Attrezzatura:</strong> Inclusa",
                    description: "Lezione singola ideale sia per chi vuole imparare il Kitesurf da zero, sia per chi desidera riprendere e migliorare la propria tecnica.",
                    price: "PREZZO: 70€"
                },
                {
                    image: wingImg,
                    alt: "Corso di Wing Foil presso S-LOOP a Olbia, Sardegna",
                    title: "WING FOIL",
                    button: "SCOPRI DI PIÙ",
                    duration: "<strong>Durata:</strong> 1 ora + 20 minuti omaggio",
                    gear: "<strong>Attrezzatura:</strong> Inclusa",
                    description: "Lezione singola ideale sia per chi vuole imparare il Wing Foil da zero, sia per chi desidera riprendere e migliorare la propria tecnica.",
                    price: "PREZZO: 70€"
                },
                {
                    image: campImg,
                    alt: "Surf Camp presso S-LOOP a Olbia, Sardegna",
                    title: "SURF CAMP",
                    button: "SCOPRI DI PIÙ",
                    duration: "<strong>Durata:</strong> 1 settimana",
                    gear: "<strong>Attrezzatura:</strong> Inclusa",
                    description: "Percorso intensivo dedicato a chi vuole immergersi completamente nel mondo del Kitesurf / Wing Foil e raggiungere ottimi risultati in poco tempo.",
                    price: "PREZZO: 700€"
                }
            ]}
    />

    <PurchaseAndRentalSection
            header="NOLEGGIO"
            description="La nostra scuola offre un servizio di noleggio che mette a vostra disposizione il meglio sul mercato. La nostra selezione include prodotti <strong>Duotone e Ion</strong>, tutti aggiornati alle ultime uscite disponibili. Garantiamo <strong>prestazioni eccellenti e massima sicurezza</strong> in ogni condizione."
    />

    <MomentsSection header="MOMENTI"/>

    <ContactsSection header="CONTATTI" address="(presso spiaggia “Le Saline”)"/>
</Layout>