---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="S-LOOP Kiteboarding School">
    <nav class="absolute w-full top-0 p-10 z-10 flex flex-row justify-between after:content-['']">
        <img src="/sloop-logo.webp" alt="S-LOOP Kiteboarding School" class="w-32 h-32"/>
        <div class="flex justify-center items-center gap-10 [&>*]:text-[2vw] [&>*]:text-white">
            <a href="#school" tabindex="0" aria-label="Go to School section">SCUOLA</a>
            <a href="#who-are-we" tabindex="0" aria-label="Go to About us section">CHI SIAMO</a>
            <a href="#courses" tabindex="0" aria-label="Go to Courses section">CORSI</a>
            <a href="#purchase-and-rental" tabindex="0" aria-label="Go to Purchase and Rental section">ACQUISTO E NOLEGGIO</a>
            <a href="#contacts" tabindex="0" aria-label="Go to Contacts section">CONTATTI</a>
        </div>
    </nav>

    <section id="hero" class="flex items-center justify-center min-h-screen bg-cover bg-no-repeat bg-fix bg-parallax bg-[url('/hero-base.webp')]">
        <p class="font-stencil text-[10vw] text-white opacity-70">RIDE <span class="text-teal">THE WIND</span></p>
    </section>

    <section id="school" class="min-h-screen border-b-black p-[10rem]">
        <div class="flex flex-row">
            <span class="flex-1">
                <img src="/kiter.webp" alt="kite surfer jumping" class="pt-20 pr-5"/>
            </span>
            <div class="flex-1 [&>*]:pt-10 [&>*]:pr-10 [&>*]:pl-5">
                <p class="font-stencil text-[5.5vw]">SCUOLA</p>
                <p class="font-stencil text-5xl text-teal">Benvenuti alla S-Loop Kiteboarding School di Olbia</p>
                <p class="font-josefin font-light leading-relaxed text-xl md:text-2xl lg:text-3xl">La S-Loop Kiteboarding School nasce nel 2023 dall'idea di un kiteboarder con oltre 10 anni di esperienza nel campo.</p>
                <p class="font-josefin font-light leading-relaxed text-xl md:text-2xl lg:text-3xl">Dopo un primo anno impegnativo, ci stiamo preparando con entusiasmo per affrontare il secondo anno con ancora più passione e determinazione.</p>
            </div>
        </div>
        <p></p>
    </section>

    <section id="who-are-we" class="min-h-screen">

    </section>

    <section id="courses" class="min-h-screen bg-teal">

    </section>

    <section id="purchase-and-rental" class="min-h-screen">

    </section>

    <section id="contacts" class="min-h-screen bg-teal">

    </section>

    <footer></footer>
</Layout>

<style>
    @keyframes bg-parallax {
        0% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 50% 100%;
        }
    }

    .bg-parallax {
        animation: bg-parallax 30s infinite alternate;
    }
</style>