---
import Layout from '../layouts/BaseLayout.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title="S-LOOP Kiteboarding School">
    <NavBar />

    <section id="hero" class="flex items-center justify-center min-h-screen bg-center bg-cover bg-no-repeat bg-parallax bg-[url('/hero-base.webp')]">
        <h1 class="w-full text-center font-stencil text-9xl text-white opacity-70">RIDE <span class="text-teal">THE WIND</span></h1>
    </section>

    <!--<section id="school" class="min-h-screen border-b-black pr-[18rem] pl-[18rem] pt-[10rem]">-->
    <!--    <div class="flex flex-row relative">-->
    <!--        <span class="flex-1">-->
    <!--            <img src="/kiter.webp" alt="kite surfer jumping" class="pt-20 pr-5"/>-->
    <!--        </span>-->
    <!--        <div class="absolute top-10 left-[40%] z-10 bg-teal size-52 opacity-50"></div>-->
    <!--        <div class="flex-1 z-20 [&>*]:pr-10 [&>*]:pl-5">-->
    <!--            <h2 class="pt-20">SCUOLA</h2>-->
    <!--            <h3 class="text-teal w-[90]">Benvenuti alla S-Loop Kiteboarding School di Olbia</h3>-->
    <!--            <p>La S-Loop Kiteboarding School nasce nel 2023 dall'idea di un kiteboarder <strong>con oltre 10 anni di-->
    <!--                esperienza</strong> nel campo.</p>-->
    <!--            <p>Dopo un primo anno impegnativo, ci stiamo preparando con entusiasmo per affrontare il secondo anno-->
    <!--                con ancora più passione e determinazione.</p>-->
    <!--        </div>-->
    <!--        <div class="absolute bottom-0 left-[80%] z-10 bg-teal size-52 opacity-30"></div>-->
    <!--    </div>-->
    <!--    <p>Presso la nostra scuola, <strong>ci impegniamo a introdurre le persone al magnifico sport del kiteboarding e-->
    <!--        a promuovere il kitesurf con professionalità, buon umore e passione.</strong> Offriamo corsi individuali e-->
    <!--        di gruppo sia per principianti che per coloro che desiderano perfezionare le proprie abilità.</p>-->
    <!--    <p>Situati sulla splendida costa sarda, a due passi da Olbia, godiamo di un vento termico che ci accompagna-->
    <!--        dalla primavera alla fine dell'estate, offrendo condizioni ideali per praticare il kiteboarding.</p>-->
    <!--    <p><strong>Unisciti a noi presso la S-Loop e scopri il fascino e l'emozione di questo entusiasmante sport!</strong></p>-->
    <!--</section>-->

    <section id="school" class="min-h-screen mx-10 my-20 xl:mx-72 relative">
        <h2 class="font-stencil font-normal text-7xl w-full text-center">SCHOOL</h2>
        <div class="size-32 bg-teal bg-opacity-50 absolute -top-7 -z-10"></div>

        <h3 class="font-stencil font-normal text-4xl text-teal leading-snug w-full my-6">Benvenuti alla <span class="text-nowrap">S-Loop</span> Kiteboarding School di Olbia</h3>
        <p class="font-jost font-light text-lg">La S-Loop Kiteboarding School nasce nel 2023 dall'idea di un kiteboarder <strong class="font-bold">con oltre 10 anni di esperienza</strong> nel campo.</p>
        <p class="font-jost font-light text-lg pt-6">Dopo un primo anno impegnativo, ci stiamo preparando con entusiasmo per affrontare il secondo anno con ancora più passione e determinazione.</p>
        <img src="/kiter.webp" alt="kite surfer jumping" class="pt-6 md:w-1/2"/>
        <p class="font-jost font-light text-lg pt-6">Presso la nostra scuola, <strong class="font-bold">ci impegniamo a introdurre le persone al magnifico sport del kiteboarding e a promuovere il kitesurf con professionalità, buon umore e passione.</strong> Offriamo corsi individuali e di gruppo sia per principianti che per coloro che desiderano perfezionare le proprie abilità.</p>
        <p class="font-jost font-light text-lg pt-6">Situati sulla splendida costa sarda, a due passi da Olbia, godiamo di un vento termico che ci accompagna dalla primavera alla fine dell'estate, offrendo condizioni ideali per praticare il kiteboarding.</p>
        <p class="font-jost font-bold text-lg pt-6">Unisciti a noi presso la S-Loop e scopri il fascino e l'emozione di questo entusiasmante sport!</p>
    </section>

    <div class="w-full h-96 bg-black"></div>

    <section id="who-are-we" class="min-h-screen">

    </section>

    <section id="courses" class="min-h-screen">

    </section>

    <section id="purchase-and-rental" class="min-h-screen bg-teal">

    </section>

    <section id="contacts" class="min-h-screen">

    </section>

    <footer></footer>
</Layout>

<style>
    @keyframes bg-parallax {
        0% {
            background-position: 50% 0;
        }
        100% {
            background-position: 50% 100%;
        }
    }

    .bg-parallax {
        animation: bg-parallax 30s infinite alternate;
    }
</style>