---
import { Image } from 'astro:assets';
import cardImage from "../assets/content/kite.webp"
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div id="carousel" class="w-full h-full py-10 md:py-20 flex items-center md:justify-center overflow-x-auto sm:overflow-x-hidden">
        <div class="flex flex-row justify-center items-center gap-6 sm:gap-10 lg:gap-16 mx-6">
            <div class="card w-80 sm:w-52 lg:w-72 aspect-4/5 flex justify-center bg-teal bg-opacity-60 transition duration-500 sm:cursor-pointer">
                <div class="container flex flex-col gap-8 sm:gap-4 lg:gap-6">
                    <Image src="/src/assets/content/kite.webp" alt="kitesurf-lesson" class="object-contain h-1/2 overflow-hidden" inferSize>
                    <div>
                        <p class="w-full self-center font-stencil text-2xl sm:text-sm lg:text-xl scale-110 lg:scale-100">X</p>
                        <p class="w-full font-jost text-2xl sm:text-xs lg:text-lg">Durata: X</p>
                        <p class="w-full font-jost text-2xl sm:text-xs lg:text-lg">Costo: X</p>
                        <p class="w-full font-jost sm:text-xs lg:text-base">XXX</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
