---
---

<div id="carousel"
     class="w-full h-[500px] sm:h-[350px] lg:h-[500px] flex items-center md:justify-center overflow-x-auto sm:overflow-x-hidden">
    <div class="flex flex-row justify-center items-center gap-6 sm:gap-10 lg:gap-16 mx-6">
        <div class='card p-6 w-80 sm:w-52 lg:w-72 sm:scale-125 aspect-4/5 flex justify-center bg-teal bg-opacity-60 transition duration-500 sm:cursor-pointer'>
            <div class="container flex flex-col justify-center gap-6">
                <p class="card-header self-center font-stencil text-3xl sm:text-lg lg:text-2xl">LEZIONI SINGOLE</p>
                <p class="font-jost text-2xl sm:text-xs lg:text-xl">Durata: 1 ora</p>
                <p class="font-jost text-2xl sm:text-xs lg:text-xl">Costo: 70€</p>
                <p class="font-jost sm:text-xs lg:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

        <div class='card p-6 w-80 sm:w-52 lg:w-72 aspect-4/5 flex justify-center sm:order-first bg-teal bg-opacity-60 transition duration-500 sm:cursor-pointer'>
            <div class="container flex flex-col justify-center gap-6">
                <p class="card-header self-center font-stencil text-3xl sm:text-lg lg:text-2xl">SURF CAMP</p>
                <p class="font-jost text-2xl sm:text-xs lg:text-xl">Durata: 7 giorni</p>
                <p class="font-jost text-2xl sm:text-xs lg:text-xl">Costo: 700€</p>
                <p class="font-jost sm:text-xs lg:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

        <div class='card p-6 w-80 sm:w-52 lg:w-72 aspect-4/5 flex justify-center bg-teal bg-opacity-60 transition duration-500 sm:cursor-pointer'>
            <div class="container flex flex-col justify-center gap-6">
                <p class="card-header self-center font-stencil text-3xl sm:text-lg lg:text-2xl">CERTIFICAZIONE</p>
                <p class="font-jost text-2xl sm:text-xs lg:text-xl">Durata: ND giorni</p>
                <p class="font-jost text-2xl sm:text-xs lg:text-xl">Costo: ND€</p>
                <p class="font-jost sm:text-xs lg:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>
    </div>
</div>

<script is:inline>
    const carousel = document.getElementById('carousel');
    const cards = carousel.querySelectorAll('.card'); // Use querySelectorAll for better performance
    
    cards.forEach(card => {
        card.addEventListener('click', updateCardHeightsOnClick);
    });

    function updateCardHeightsOnClick(event) {
        if (window.innerWidth < 640) return; // Only for larger screens

        cards.forEach(card => {
            card.classList.remove('sm:scale-125');
        });

        const clickedCard = event.currentTarget;
        clickedCard.classList.add('sm:scale-125');
    }
</script>