---
---

<section id="hero" class="flex items-center justify-center min-h-screen bg-center bg-cover bg-no-repeat bg-parallax bg-[url('/hero-base.webp')]">
    <h1 class="w-full text-center font-stencil text-9xl text-white opacity-70">RIDE <span class="text-teal">THE WIND</span></h1>
</section>