---
let header = "MOMENTI"
---

<section id="moments" class="bg-gradient-to-b from-teal bg-opacity-50 mt-20 pb-4 sm:pb-10 px-10 xl:px-72 ">
    <h2 class="py-4 sm:py-10 font-stencil font-normal text-6xl md:text-7xl w-full text-left md:text-center">{header}</h2>

    <div class="container w-full grid grid-cols-3 lg:grid-cols-4 row-4 lg:row-5 gap-2 lg:gap-4">
        <div class="size-full aspect-square overflow-hidden lg:col-span-2 lg:row-span-2">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp"/>
        </div>
        <div class="size-full aspect-square overflow-hidden">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp"/>
        </div>
        <div class="size-full aspect-square overflow-hidden">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp"/>
        </div>
        <div class="size-full aspect-square overflow-hidden">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp"/>
        </div>
        <div class="size-full aspect-square overflow-hidden">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp"/>
        </div>
        <div class="size-full aspect-square overflow-hidden">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp"/>
        </div>
        <div class="size-full aspect-square overflow-hidden col-span-2 row-span-2 lg:col-auto lg:row-auto">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp"/>
        </div>
        <div class="size-full aspect-square overflow-hidden lg:col-span-2 lg:row-span-2">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="/sloop-logo.webp"/>
        </div>
        <div class="size-full aspect-square overflow-hidden">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="/kiter.webp"/>
        </div>
        <div class="size-full aspect-square overflow-hidden">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="/kite-rental.webp"/>
        </div>
        <div class="size-full aspect-square overflow-hidden lg:hidden">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="/lisa.webp"/>
        </div>
        <div class="size-full aspect-square overflow-hidden lg:hidden">
            <img loading="lazy" alt="moments"
                 class="size-full aspect-square object-cover object-center transform transition duration-500 hover:scale-110 hover:cursor-pointer"
                 src="/cristian.webp"/>
        </div>
    </div>

<<<<<<< HEAD
    <div id="gallery-modal" class="relative h-screen w-screen hidden z-40" aria-labelledby="modal-title" role="dialog"
=======
    <div id="img-modal" class="relative h-screen w-screen hidden z-40" aria-labelledby="modal-title" role="dialog"
>>>>>>> 5f248293dc57429e9b17715d41c33e9f88db7a03
         aria-modal="true">
        <div class="fixed inset-0 backdrop-blur-lg bg-gray-500 bg-opacity-75">
            <div class="z-50 size-full inset-0 flex justify-center items-center overflow-y-auto">
                <svg class="fixed right-5 top-5 size-10 hover:cursor-pointer" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>

                <img id="modal-img" class="object-scale-down object-center max-h-screen p-16" src=""
                     alt="Modal Caption">
            </div>
        </div>
    </div>
</section>

<script>
<<<<<<< HEAD
    const gallery = document.getElementById('moments') as HTMLElement;
    const images = gallery.querySelectorAll('img');
    const modal = document.getElementById('gallery-modal') as HTMLElement;
    const close = modal.querySelector('svg') as SVGElement;
=======
    let modal = document.getElementById('img-modal') as HTMLElement;
    const close = document.querySelector('svg') as SVGElement;
>>>>>>> 5f248293dc57429e9b17715d41c33e9f88db7a03
    const body = document.body;

    close.addEventListener('click', () => {
        body.classList.remove('overflow-hidden'); // Enable scrolling
        modal.classList.add('hidden');
    });

<<<<<<< HEAD
=======
    const images = document.querySelectorAll('img');
>>>>>>> 5f248293dc57429e9b17715d41c33e9f88db7a03
    images.forEach((image: HTMLImageElement) => {
        image.addEventListener('click', () => {
            // Get the image element of modal
            let modalImg = document.getElementById('modal-img') as HTMLImageElement;
            // Assign the source of the clicked image to the modal image
            modalImg.src = image.src;

            // Make modal visible and disable body scrolling
            modal.classList.remove('hidden');
            body.classList.add('overflow-hidden');
        });
    });
</script>