---
import PhotoSwipe from "./PhotoSwipe.astro";

let {header} = Astro.props;
---
<div class="relative mt-20 pb-4 sm:pb-10">
    <section id="moments" class="px-10 lg:px-32 2xl:px-72">
        <h2 class="py-4 sm:py-10 font-stencil font-normal text-6xl md:text-7xl w-full text-center">{header}</h2>

        <PhotoSwipe imageFolder="gallery" />
    </section>

    <div class="absolute top-0 w-[80%] h-32 lg:h-52 bg-teal/80 -z-10"></div>

    <div class="absolute top-[40%] right-0 w-[70%] h-24 lg:h-52 bg-teal/60 -z-10"></div>
</div>