---
import PhotoSwipe from "./PhotoSwipe.astro";

let {header} = Astro.props;
---
<section id="moments" class="bg-gradient-to-b from-teal bg-opacity-50 mt-20 pb-4 sm:pb-10 px-10 xl:px-72 ">
    <h2 class="py-4 sm:py-10 font-stencil font-normal text-6xl md:text-7xl w-full text-center">{header}</h2>

    <PhotoSwipe imageFolder="gallery" />
</section>
