---
let { header, description } = Astro.props;
---

<section id="purchase-and-rental" class="relative min-h-screen">
    <h2 class="md:hidden w-full mt-10 px-10 xl:px-72 font-stencil font-normal text-6xl">{header}</h2>
    <div class="w-full px-10 xl:px-72 flex flex-col-reverse md:flex-row items-center gap-6 mt-2 md:mt-12"}>
        <img src="/kite-rental.webp" alt="Kite to rent" class="aspect-auto object-cover md:w-1/2 -z-20"/>
        <div class="container">
            <h2 class="hidden md:block w-full my-6 font-stencil font-normal text-6xl">{header}</h2>
            <p class=" mt-6 sm:mt-0 font-jost font-light text-lg lg:text-xl md:!leading-relaxed lg:!leading-loose"><Fragment set:html={description} /></p>
        </div>
    </div>
    <div class="absolute top-0 left-10 sm:left-[44%] lg:left-[47%] size-24 md:size-28 bg-teal bg-opacity-60 -z-10"></div>
</section>