---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/NavBar.astro';
import HeroSection from '../../components/Hero.astro';
import SchoolSection from '../../components/School.astro';
import WhoAreWeSection from '../../components/WhoAreWe.astro';
import CoursesSection from '../../components/Courses.astro';
import PurchaseAndRentalSection from '../../components/PurchaseAndRental.astro';
import MomentsSection from "../../components/Moments.astro";
import ContactsSection from '../../components/Contacts.astro';

import kiteImg from '../../assets/content/kite.webp';
import wingImg from '../../assets/content/wing.png';
import campImg from '../../assets/content/camp.png';
---

<Layout
        title="S-LOOP Kiteboarding School | Olbia, Sardinien"
        lang="de"
        description="S-LOOP Kiteboarding School, die beste Kitesurfschule in Olbia, ist Partner von Duotone und ION, zertifiziert vom CONI und angeschlossen an MSP Italia. Wir bieten Kitesurf-, Wing-Surf- und Wing-Foil-Kurse für alle Niveaus an. Finden Sie uns in Olbia am Strand 'Le Saline'. Erfahren Sie mehr und schließen Sie sich uns an!"
        keywords="kitesurf Olbia, wing surf Sardinien, wing foil Sardinien, kitesurfschule, kitesurfkurse, kiteboardingschule Olbia, CONI-zertifiziert, MSP Italien, Duotone, Ion"
>
    <NavBar links={[
        {href: "#school", label: "SCHULE"},
        {href: "#who-are-we", label: "WER WIR SIND"},
        {href: "#courses", label: "KURSE"},
        {href: "#purchase-and-rental", label: "MIETE"},
        {href: "#moments", label: "MOMENTE"},
        {href: "#contacts", label: "KONTAKTE"}
    ]}/>

    <HeroSection/>

    <SchoolSection
            header="SCHULE"
            subHeader="Willkommen in der <span class='text-nowrap'>S-Loop</span> Kiteschule in Olbia"
            paragraph1="Ihr Tor zur aufregenden Welt des <strong>Kitesurfens</strong>, <span class='text-nowrap'><strong>Wing Surfens</strong></span> und <span class='text-nowrap'><strong>Wing Foilens.</strong></span>"
            paragraph2="Die <strong>S-Loop</strong> Schule befindet sich am beeindruckenden Strand von Saline, nur wenige Minuten von der Stadt Olbia entfernt. Sie ist eine Schule mit einem neuen Konzept, die sich zum Referenzpunkt für Wassersportbegeisterte entwickeln möchte."
            paragraph3="Als offizielle <strong>Duotone</strong> und <strong>ION</strong> Schule garantieren wir den Zugang zu der <strong>modernsten und sichersten Ausrüstung auf dem Markt</strong> und gewährleisten so eine erstklassige Lernerfahrung. Unsere Mitgliedschaft beim <strong>CONI</strong> und <strong>MSP Italia</strong> belegt unser Engagement für <strong>Exzellenz und Einhaltung höchster Standards</strong> im Bereich Wassersport."
            paragraph4="Unsere Kurse sind darauf ausgelegt, angehende Surfer jeden Alters willkommen zu heißen, <strong>von Anfängern, die zum ersten Mal das Board berühren, bis hin zu Experten, die ihre Technik perfektionieren möchten</strong>. Mit einem Team hochqualifizierter Lehrer bieten wir nicht nur praktisches Training, sondern auch <strong>Zertifizierungskurse für diejenigen, die ihre Leidenschaft zum Beruf machen möchten</strong>."
            paragraph5="Die Wahl von S-Loop bedeutet, sich für <strong>Qualität, Sicherheit und garantierten Spaß beim Unterricht</strong> zu entscheiden. Wir freuen uns darauf, gemeinsam die Wellen und den Wind zu erobern."
            partners="UNSERE OFFIZIELLEN PARTNER"
    />

    <WhoAreWeSection
            header="WER WIR SIND"
            paragraph1="<strong>Bei <span class='text-nowrap'>S-Loop</span> sind wir mehr als ein Team.</strong>"
            paragraph2="Diejenigen, die unsere Schule besuchen, wissen, dass sie nicht nur ein Umfeld mit modernsten Unterrichtstechniken vorfinden, sondern auch wahre Freunde und vertrauenswürdige Personen."
            cristianBio="<strong>Cristian Jesùs Cancino Mondaca,</strong> Gründer der <span class='text-nowrap'>S-Loop</span>-Schule, ist ein Veteran der Wassersportarten mit <strong>über 10 Jahren Erfahrung</strong>, die sein Engagement und seine Liebe zum Kitesurfen bezeugen.<br><br>Cristians Schule ist das Ergebnis seines Engagements, seine Leidenschaft mit anderen Enthusiasten zu teilen. Seine Unterrichtsmethode zielt darauf ab, spaßig, dynamisch und vor allem effektiv zu sein, was es den Schülern ermöglicht, schnell und in vollständiger Sicherheit zu lernen."
            marcoBio="Seit 2013 als Instructor tätig, hat er zahlreiche Erfahrungen an verschiedenen Spots auf der ganzen Welt gesammelt. Von Spanien zu den Kanarischen Inseln, von Thailand nach Kap Verde und sogar bis nach Australien, unter allen möglichen Bedingungen: Wellen, Flachwasser, starker oder leichter Wind, vom Strand bis zum Boot. Immer positiv, widmet er sich mit Begeisterung der Vermittlung der Schönheit des Kitesurfens an seine Schüler."
            noemiBio="Noemi, eine junge Kitesurferin seit 2023, begann ihr Abenteuer angetrieben von der Leidenschaft ihres Vaters Cristian, Gründer der S-Loop Kiteboarding School. Als zukünftiges Versprechen im Kitesurfen gilt, bereitet sich Noemi aktiv auf Wettbewerbe vor. Stolz auf ihre Fortschritte träumt sie davon, in Wettkämpfen zu glänzen und eine Meisterin zu werden. In der Zwischenzeit genießt sie jeden Moment auf dem Wasser, lernt ständig neue Techniken und perfektioniert ihren Stil."
    />

    <CoursesSection
            header="KURSE"
            description="In der S-Loop-Schule bieten wir eine vielfältige Auswahl an Kursen an, um den Bedürfnissen und Erfahrungen jedes einzelnen Schülers gerecht zu werden. Unsere Kurse sind darauf ausgelegt, sowohl diejenigen zu bedienen, die sich diesen Disziplinen zum ersten Mal nähern, als auch diejenigen, die ihre Leidenschaft zum Beruf machen möchten."
            cards={[
                {
                    image: kiteImg,
                    alt: "Kitesurfkurs bei S-LOOP in Olbia, Sardinien",
                    title: "KITESURF",
                    button: "MEHR ERFAHREN",
                    duration: "<strong>Dauer:</strong> 1 Stunde",
                    gear: "<strong>Ausrüstung:</strong> Inklusive",
                    description: "Einzelstunde, ideal für diejenigen, die Kitesurfen von Grund auf lernen möchten, oder für diejenigen, die ihre Technik wieder aufnehmen und verbessern möchten.",
                    price: "PREIS: 70€"
                },
                {
                    image: wingImg,
                    alt: "Wing Foil Kurs bei S-LOOP in Olbia, Sardinien",
                    title: "WING FOIL",
                    button: "MEHR ERFAHREN",
                    duration: "<strong>Dauer:</strong> 1 Stunde + 20 Minuten gratis",
                    gear: "<strong>Ausrüstung:</strong> Inklusive",
                    description: "Einzelstunde, ideal für diejenigen, die Wing Foilen von Grund auf lernen möchten, oder für diejenigen, die ihre Technik wieder aufnehmen und verbessern möchten.",
                    price: "PREIS: 70€"
                },
                {
                    image: campImg,
                    alt: "Surfcamp bei S-LOOP in Olbia, Sardinien",
                    title: "SURF CAMP",
                    button: "MEHR ERFAHREN",
                    duration: "<strong>Dauer:</strong> 1 Woche",
                    gear: "<strong>Ausrüstung:</strong> Inklusive",
                    description: "Intensivkurs, der sich an diejenigen richtet, die sich vollständig in die Welt des Kite-/Wing-Surfens eintauchen und in kurzer Zeit hervorragende Ergebnisse erzielen möchten.",
                    price: "PREIS: 700€"
                }
            ]}
    />

    <PurchaseAndRentalSection
            header="MIETE"
            description="Unsere Schule bietet einen Verleihservice an, der Ihnen das Beste auf dem Markt zur Verfügung stellt. Unsere Auswahl umfasst Produkte von <strong>Duotone und Ion</strong>, alle auf dem neuesten Stand der verfügbaren Modelle. Wir garantieren <strong>exzellente Leistung und höchste Sicherheit</strong> unter allen Bedingungen."
    />

    <MomentsSection header="MOMENTS"/>

    <ContactsSection header="CONTACTS" address="(in der Nähe des Strandes “Le Saline”)"/>
</Layout>