---
import Layout from '../../layouts/BaseLayout.astro';
import NavBar from '../../components/NavBar.astro';
import HeroSection from '../../components/Hero.astro';
import SchoolSection from '../../components/School.astro';
import WhoAreWeSection from '../../components/WhoAreWe.astro';
import CoursesSection from '../../components/Courses.astro';
import PurchaseAndRentalSection from '../../components/PurchaseAndRental.astro';
import ContactsSection from '../../components/Contacts.astro';
---

<Layout title="Escuela de Kitesurf S-LOOP">
    <NavBar links={[
        { href: "#school", label: "ESCUELA" },
        { href: "#who-are-we", label: "QUIÉNES SOMOS" },
        { href: "#courses", label: "CURSOS" },
        { href: "#purchase-and-rental", label: "COMPRA Y ALQUILER" },
        { href: "#contacts", label: "CONTACTOS" }
    ]} />

    <HeroSection />

    <SchoolSection
        header="ESCUELA"
        subHeader="Bienvenidos a la Escuela de Kitesurf <span class='text-nowrap'>S-Loop</span> en Olbia"
        paragraph1="Tu puerta de entrada al emocionante mundo del <strong>Kitesurf</strong> y <span class='text-nowrap'><strong>Wing Foil.</strong></span>"
        paragraph2="Situada en la sugerente playa de Saline, a pocos minutos de la ciudad de Olbia, el <strong>S-Loop</strong> es una escuela de nuevo concepto que aspira a convertirse en un punto de referencia para los entusiastas de los deportes acuáticos."
        paragraph3="Como escuela oficial de <strong>Duotone</strong> y <strong>ION</strong>, garantizamos el acceso al <strong>equipamiento más avanzado y seguro del mercado</strong>, asegurando una experiencia de aprendizaje de calidad superior. Nuestra afiliación con el <strong>CONI</strong> y <strong>MSP Italia</strong> avala nuestro compromiso con la <strong>excelencia y el cumplimiento de los más altos estándares</strong> en el campo de los deportes acuáticos."
        paragraph4="Nuestros cursos están diseñados para dar la bienvenida a surfistas aspirantes de todas las edades, <strong>desde principiantes que tocan la tabla por primera vez, hasta expertos que buscan perfeccionar su técnica</strong>. Con un equipo de instructores altamente cualificados, ofrecemos no solo entrenamiento práctico, sino <strong>también cursos de certificación para aquellos que deseen convertir su pasión en una profesión</strong>."
        paragraph5="Elegir S-Loop significa optar por <strong>calidad, seguridad y diversión garantizada en la instrucción</strong>. Esperamos con ansias cabalgar las olas y el viento juntos."
        partners="NUESTROS SOCIOS OFICIALES"
    />

    <WhoAreWeSection
        header="QUIÉNES SOMOS"
        paragraph1="<strong>En <span class='text-nowrap'>S-Loop</span> somos más que un equipo.</strong>"
        paragraph2="Quienes asisten a nuestra escuela saben que encontrarán no solo un entorno a la vanguardia de las técnicas de enseñanza, sino también verdaderos amigos y personas de confianza."
        cristianBio="<p><strong>Cristian Jesús Cancino Mondaca,</strong> fundador de la escuela <span class='text-nowrap'>S-Loop</span>, es un veterano de los deportes acuáticos, con <strong>más de 10 años de experiencia</strong> que testimonian su dedicación y amor por el Kitesurf.</p><br><p>La escuela de Cristian es el fruto de su compromiso de compartir su pasión con otros entusiastas. Su método de enseñanza busca ser divertido, dinámico y, sobre todo, efectivo, permitiendo a los estudiantes aprender rápidamente y en completa seguridad.</p>"
        andreaBio="Andrea es un instructor de kitesurf con más de 5 años de experiencia. Comenzó a enseñar en Italia, luego se trasladó a Australia, donde trabajó como instructor y gerente de escuela. De regreso en Italia, fundó la Escuela de Kitesurf S-Loop junto con Cristian, con el objetivo de crear un ambiente acogedor y profesional para los entusiastas de los deportes acuáticos."
        lisaBio="Lisa es una instructora de kitesurf con más de 5 años de experiencia. Comenzó a enseñar en Italia, luego se trasladó a Australia, donde trabajó como instructora y gerente de escuela. De regreso en Italia, fundó la Escuela de Kitesurf S-Loop junto con Cristian y Andrea, con el objetivo de crear un ambiente acogedor y profesional para los entusiastas de los deportes acuáticos."
    />

    <CoursesSection
        header="CURSOS"
    />

    <PurchaseAndRentalSection />

    <ContactsSection />
</Layout>
