---
import '../styles/global.css';
import WebsiteStructuredData from '../components/WebsiteStructuredData.astro';
---

<!DOCTYPE html>
<html lang="it" class="scroll-smooth scroll-pt-20 md:scroll-pt-16 lg:scroll-pt-24 scrollbar-hide">
<head>
    <title>S-LOOP Kiteboarding School | Olbia, Sardegna</title>
    <meta name="lang" content="it"/>
    <meta charset="UTF-8"/>
    <meta name="author" content="Luca Derosas & Veronica Vacca"/>
    <meta name="description" content="S-LOOP Kiteboarding School a Olbia offre corsi di Kitesurf e Wingsurf per principianti ed esperti. Scopri di più e unisciti a noi!">
    <meta name="keywords" content="Kitesurf, Wingsurf, Wing Foil, scuola di kitesurf, scuola di wingsurf, scuola di wing foil, Olbia, Sardegna, Duotone, ION, corsi di kitesurf, corsi di wingsurf, corsi di wing foil">
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="2f366456-476b-4b97-abe7-aba9fc4b3b97"></script>
    <link rel="icon" type="image/svg+xml" href="/sloop-logo-min.webp"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>
    <WebsiteStructuredData />
</head>

<body>
<slot/>
</body>

<footer class="w-full h-16 lg:h-32 mt-6 lg:mt-20 bg-teal bg-opacity-40">
    <div class="flex flex-col items-center justify-center h-full text-base">
        <p class="text-sm lg:text-base text-center">© 2024 S-LOOP Kiteboarding School - P.IVA: 02972620906</p>
    </div>
</footer>
</html>
